build
.vscode
.cache
*.parsed
*.test
gitkey
*.compressed
Test-export*
*hpptestinflate.bmp
*libtestdeflate.txt
*hpptestdeflate.txt
libtestdeflate_tiny.txt
*libtestinflate.bmp
*hpptestinflatehpp.bmp
tmp.7z